<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vommune</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Project4App/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Project4App/css/base.css' %}">
    <script src="{% static 'Project4App/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'Project4App/js/bootstrap.js' %}"></script>
</head>
<body class="arrange">
<header class="color3">
    <h2 class="color2">
        {% block header %}
        <p class="color1">Rage Against the Base</p>
        {% endblock header %}
    </h2>
</header>
<nav>
    {% block nav %}
    <a href="{% url 'index' %}">What's Up Vommies</a>
    <a href="{% url 'uploadVideo' %}">Vommunicate</a>
    <a href="{% url 'index' %}">Vommunity</a>
    {% endblock nav %}
</nav>
<content>
    {% block content %}
    This is Where the Videos Go
    {% endblock content %}
</content>
<section>
    {% block section %}
    Oh Section My Section
    {% endblock section %}
</section>
<footer>
    {% block footer %}
    <p><strong>Vommune 2019</strong></p>
    {% endblock footer %}
</footer>
</body>
</html>