{% extends 'Project4App/base.html' %}

{% block header %}
{% if user.is_authenticated %}
<p class="bcolor1 heading">Vommune</p>
{% else %}
<p class="bcolor1 heading">Vommune</p>
{% endif %}
{% endblock header %}


{% block nav %}
{% if user.is_authenticated %}
<p>Welcome {{ user.username }}</p>
<a href="{% url 'index' %}">What's Up Vommies</a>
<a href="{% url 'index' %}">Vommunity</a>
<a href="{% url 'uploadVideo' %}">Vommunicate</a>
<a href="{% url 'logout' %}">Log Out</a>
{% else %}
<p>Welcome Visitor</p>
<p></p>
{% endif %}
{% endblock nav %}

{% block content %}
{% if user.is_authenticated %}
{% if allVideos %}
<ul>
    {% for eachVideo in allVideos %}
    <a href="{% url 'videoPage' eachVideo.id %}">{{ eachVideo.name }}</a>
    <br>
    <a href="{% url 'videoPage' eachVideo.id %}">
        <video width='300'>
            <source src='{{ MEDIA_URL }}{{ eachVideo.videofile }}' type='video/mp4'>
            Your browser does not support the video tag.
        </video>
    </a>
        <br>
    {% endfor %}
</ul>
{% else %}
<h3>No Vommies Available</h3>
{% endif %}
{% else %}
<p>Log-In or Create an Account</p>
<a href="{% url 'createAccount' %}">Create Account</a>
<a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock content %}

{% block section %}

{% endblock section %}

</body>
</html>