{% extends 'Project4App/base.html' %}

{% block header %}
{% if user.is_authenticated %}
<p class="bcolor4 heading color5">Vommune</p>
{% else %}
<p class="bcolor4 heading color5">Vommune</p>
{% endif %}
{% endblock header %}


{% block nav %}
{% if user.is_authenticated %}
<p class="alignleft tcolor1 usernameText"><strong>Welcome {{ user.username }}</strong></p>
<p class="lineup leftmargin textSize3 color5"><a href="{% url 'index' %}">What's Up Vommies</a></p>
<p class="lineup leftmargin textSize3 color5"><a href="{% url 'index' %}">Vommunity</a></p>
<p class="lineup leftmargin textSize3 color5"><a href="{% url 'uploadVideo' %}">Vommunicate</a></p>
<p class="lineup leftmargin textSize3 color5"><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
<p class="aligncenter"><h3><strong class="color5">Welcome Visitor</strong></h3></p>
<p></p>
{% endif %}
{% endblock nav %}

{% block content %}
{% if user.is_authenticated %}
{% if allVideos %}
<ul>
    {% for eachVideo in allVideos %}
    <a class="textSize2 color2" href="{% url 'videoPage' eachVideo.id %}"><strong>{{ eachVideo.name }}</strong></a>
    <br>
    <a href="{% url 'videoPage' eachVideo.id %}">
        <video width='300'>
            <source src='{{ MEDIA_URL }}{{ eachVideo.videofile }}' type='video/mp4'>
            Your browser does not support the video tag.
        </video>
    </a>
        <br>
    {% endfor %}
</ul>
{% else %}
<h3>No Vommies Available</h3>
{% endif %}
{% else %}
<div class="borderbox">
    <p class="indexText color3">Log-In or Create an Account</p>
    <p class="indexText color5"><a href="{% url 'createAccount' %}">Create Account</a></p>
    <p class="indexText color2">or</p>
    <p class="indexText color5"><a href="{% url 'login' %}">Login</a></p>
</div>
{% endif %}
{% endblock content %}

{% block section %}

{% endblock section %}

