{% extends 'Project4App/base.html' %}

{% block header %}
{% if user.is_authenticated %}
What's Up Vommies
<p>Welcome {{ user.username }}</p>
{% else %}
<p>Welcome Visitor</p>
<p>Log-In or Create an Account</p>
{% endif %}
{% endblock header %}


{% block nav %}
{% if user.is_authenticated %}
<a href="{% url 'index' %}">What's Up Vommies</a>
<a href="{% url 'index' %}">Vommunity</a>
<a href="{% url 'uploadVideo' %}">Vommunicate</a>
<a href="{% url 'logout' %}">Log Out</a>
{% else %}
<p></p>
{% endif %}
{% endblock nav %}

{% block content %}
{% if user.is_authenticated %}
{% if allVideos %}
<ul>
    {% for eachVideo in allVideos %}
        {{ eachVideo.name }}<br>
        <video width='300' controls>
            <source src='{{ MEDIA_URL }}{{ eachVideo.videofile }}' type='video/mp4'>
            Your browser does not support the video tag.
        </video>
        <br>
    {% endfor %}
</ul>
{% else %}
<h3>No Vommies Available</h3>
{% endif %}
{% else %}
<a href="{% url 'createAccount' %}">Create Account</a>
<a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock content %}

</body>
</html>