<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Vommie</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Project4App/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Project4App/css/upload.css' %}">
    <script src="{% static 'Project4App/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'Project4App/js/bootstrap.js' %}"></script>
</head>
<body class="background">
<header class="bcolor2">
    <h2 class="bcolor1">
        <p class="bcolor4 color3 heading">Vommune</p>
    </h2>
</header>
<h1 class="color2 subheader">Vommie Uploader</h1>
<form enctype="multipart/form-data" method="POST" action="" class="uploadText color1">
    {% csrf_token %}
    {{ vidform.as_p }}
    <input type="submit" value="Upload">
    <br>
    <p><a href="{% url 'index' %}">Cancel</a></p>
</form>
</body>
</html>