{% extends 'Project4App/base.html' %}



{% block header %}
{{ watchvideo.name }}
{% endblock header %}

{% block content %}
<video width='600' controls autoplay>
    <source src='{{ MEDIA_URL }}{{ watchvideo.videofile }}' type='video/mp4'>
    Your browser does not support the video tag.
</video>
{% endblock content %}
<br>
{% block section %}
<div>
<form method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}
    {{ commentform.as_p }}
    <input type="submit" value="Post">
    <br>
    <a href=" ">Cancel</a>
</form>
</div>
<br>
<hr>
{% if allComments %}
{% for eachComment in allComments %}
<div class="comment">
    <ul>
        <div>{{ newcomment.created_date }}</div>
        <strong>{{ newcomment.username }}</strong>
        <p>{{ newcomment.text|linebreaks }}</p>
    </ul>
</div>
{% endfor %}

{% else %}
<p>No Comments</p>
{% endif %}

{% endblock section %}