{% extends 'Project4App/base.html' %}



{% block header %}
Vommune
{% endblock header %}

{% block content %}
<div>
    <p><h3><strong>{{ watchvideo.name }}</strong></h3></p>
</div>
<video width='600' controls autoplay>
    <source src='{{ MEDIA_URL }}{{ watchvideo.videofile }}' type='video/mp4'>
    Your browser does not support the video tag.
</video>
{% endblock content %}
<br>
{% block section %}
<div>
<form method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}
    {{ commentform.as_p }}
    <input type="submit" value="Post">
    <br>
    <a href=" ">Cancel</a>
</form>
</div>
<br>
<hr>
{% if allComments %}
{% for eachComment in allComments %}
<div class="comment">
    <ul>
        <strong>{{ eachComment.commentForeignKey.videoForeignKey.username }}</strong>
        <p>{{ eachComment.text }}</p>
        <p>{{ eachComment.created_date }}</p>
    </ul>
</div>
{% endfor %}

{% else %}
<p>No Comments</p>
{% endif %}

{% endblock section %}