{% extends 'Project4App/base.html' %}



{% block header %}
{{ watchvideo.name }}
{% endblock header %}

{% block content %}
<video width='600' controls autoplay>
    <source src='{{ MEDIA_URL }}{{ watchvideo.videofile }}' type='video/mp4'>
    Your browser does not support the video tag.
</video>
{% endblock content %}
<br>

<div>
<form method="POST" action="">
    {% csrf_token %}
    {{ commentform.as_p }}
    <input type="submit" value="Post">
    <br>
    <a href=" ">Cancel</a>
</form>
</div>
<br>

<div>
{% if allComments %}
{% for eachComment in allComments %}
    <ul>
    {{ comment.username }}
    {{ comment.text }}
    </ul>
{% endfor %}

{% else %}
No Comments
{% endif %}
</div>
