/*Establishes grid setup*/
.arrange {

}

.bcolor1{
    background: #3943B7;
}
.bcolor2{
    background: #F26419;
}
.bcolor3{
    background: #F6AE2D;
}
.bcolor4{
    background: #758E4F;
}
.bcolor5{
    background: #86BBD8;
}

/*Assigns header to an area in the grid, changes text color, text alignment, and background color*/
header {

}

/*Assigns nav to an area in the grid, changes text color, text alignment,establishes border, and background color*/
nav {

}

/*Assigns content to an area in the grid, removes text decoration, and aligns text*/
content {

}


/*Assigns footer to an area in the grid, sets left margin, and centers text*/
footer {

}

/*Gives entire boder a red border*/
body {

}


