/*Establishes grid setup*/
.arrange {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: repeat(4, 1fr);*/
    grid-gap: 5px;
}
/*Puts all page links on the same line*/
.lineup {
    display: inline-block;
}

.comment{
    margin: 20px 0px 20px 20px;
}
.background{

}

.bcolor1{
    background: #3943B7;
}
.bcolor2{
    background: #F26419;
}
.bcolor3{
    background: #F6AE2D;
}
.bcolor4{
    background: #758E4F;
}
.bcolor5{
    background: #86BBD8;
}

